/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
   box-sizing: border-box;
}
.wrap{
    max-width: 1920px;
    margin: 0 auto;
}
.header{
    padding: 10px 50px;
    border-bottom:3px solid #eeeeee;
}
.header h1{
   float: left;
}
.header h1 a{
    display: block;  
    background-image: url(../images/0.png);
    width: 125px;
    height: 65px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}
/*i phone x 812 橫*/
@media (max-width:812px){
   .header{
       padding: 10px 20px;
   }
}
.list{
    float: right;
}
.list li{
    float: left;
}
.list li a{
    text-decoration: none;
    color:black;
    display: block;
    text-align: center;  
    padding: 10px 20px;
    border-right:3px solid #eeeeee;
    height: 65px;
}
.mobile{
   float: right;
   font-size: 30px;
   margin-top: 17px;
   display: none;
}
.mobile a{
   color:black;
   display: block;
}
.moblist{
    padding: 10px 20px 10px 30px;
    font-size: 40px;
    transition: all 5s;
    display: none;
    max-height: 0px;
}
.moblist li{
    margin-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
}
.moblist li a{
   display: inline-flex;
   color:black;
   font-size: 24px;
   width: 100%;
}
.clearfix{
    clear: both;
}
/*i pad 768px*/
@media (max-width:768px){
    .list{
        display: none;
    }
    .mobile{
        display: block;
    }
    .menu-show .moblist{
        display: block;
        max-height: 500px;
    }
}
.item-1{
    color:#ffc251;
}
.item-2{
    color:#ea6759;
}
.item-3{
    color:#5eabc8;
}
.item-4{
    color:#b9a0d0;
}
.item-5{
    color:#fb779b;
}
.content{
 position: relative;
}
.bg-circle{
    background-image: url(../images/5.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 98;
    line-height: 2;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 23%;
    left: 50%;
    margin-left: -200px;
    padding: 120px;
}
/*i phone 6 7 8 plus*/
@media (max-width:414px){
    .header{
        padding: 10px 20px;
    }
    .bg-circle{
        background-color: #fee6a6;
        background-position: center top;
        line-height: 1.5;
        height: 200px;
        width: 100%;
        position: unset;
        margin: 0;
    }
}
/*i phone 6 7 8 plus 橫*/
@media(max-width:736px){
    .header{
        padding: 10px 20px;
    }
    .bg-circle{
        background-color: #fee6a6;
        background-position: center top;
        line-height: 1.5;
        height: 200px;
        width: 100%;
        position: unset;
        margin: 0;
    }
}
.img-1{
    background-image: url(../images/1.JPG);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
.img-2{
    background-image: url(../images/2.JPG);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
.img-3{
    background-image: url(../images/3.JPG);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
.img-4{
    background-image: url(../images/4.JPG);
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: -1;
}
.badge{
    width: 100px;
    height: 30px;
    font-size: 18px;
}
.badge-primary{
    background-color:#b9a0d0 !important;
}
.line{
    background-color: #00b900;
    width: 40px;
    height: 40px;
    border-radius: 10%;
    position: absolute;
    top: 10%;
    right: 5%;
}
.line-img{
    position: absolute;
    top: 20%;
    left: 20%;
}
.line a{
    display: block;
}
@media(max-width:414px){
    .line{
        position: absolute;
        top: 3%;
        right: 5%;
    }
}
.footer{
    padding:20px;
    background-color: #f7f7f7;
    line-height: 2;
}
.footer-list li{
    float: left;
    margin-right: 20px;
    border-right: 1px solid gray;
    padding-right: 10px;
}
@media(max-width:414px){
    .footer-list li{
        margin-right: 0;
        width: 100%;
        float: none;
        border: 0;
    }
}

